/*Teblet Layout*/
@media only screen and (min-width:200px) and (max-width:991px){
.social_area {max-width: 460px;padding-top: 14px;}
.inner_menu {background: none;min-height:auto ;}
.inner_menu::after {display: none;}   
.mean-container .mean-nav {margin-top: 0;width: 80%}  
.inner_header {padding: 20px 0;} 
#slider_area {margin-top: 0;}  
.inner_hero h2 {font-size: 55px;}  
}

/*Mobile Layout*/
@media only screen and (min-width:200px) and (max-width:480px){
.mini_menu {width: 100%;margin-bottom: 10px;}
.mini_menu ul, .social_area ul {text-align: center;}   
.search_area, .logo_area {float: none;width: 250px;margin: 0 auto;text-align: center;}
.social_area ul li {margin: 0 5px;} 
.inner_hero h2 {font-size: 25px;}  
.inner_hero {overflow: hidden;padding-bottom: 20px;}  
#work_area, #footer_area {padding: 20px 0;}  
.child_work {width: 98%;}  
.child_footer {width: 96%;}  
.left_copyright {width: 100%;margin-bottom: 10px}  
.right_copyright {text-align: left;width: 100%;} 
    
    
}